<a href="https://colab.research.google.com/github/gsaijahnavi/pandas_basic_practice_notes/blob/main/pandas_practice_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd

In [14]:
print(pd.__version__)

2.2.2

In [33]:
df = pd.read_csv('data.csv')

In [16]:
mydata = {
    'cars': ['BMW', 'Volvo', 'Ford'],
    'passings': [3, 7, 2]
}

print(pd.DataFrame(mydata))

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [23]:
a = [1,2,3]

print(pd.Series(a))

print(a[0])

## different index
a1 = pd.Series(a, index = ['x', 'y', 'z'])

print(a1["y"])

0    1
1    2
2    3
dtype: int64
1
2

In [29]:
## You can use key value objects like dictionary while creating series

calories = {
    'day1': 420,
    'day2': 380,
    'day3': 390
}

df = pd.Series(calories)

df1 = pd.Series(calories, index = ["day1","day2"]) ## only displayes values of indexes specified

print(df["day3"])

390
day1    420
day2    380
dtype: int64

In [38]:
## locate the row
df = pd.read_csv('data.csv')

print(df.head())

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [41]:

print(df.loc[0]) # should display first record (row index)

Car       Toyoty
Model       Aygo
Volume      1000
Weight       790
CO2           99
Name: 0, dtype: object

In [46]:
df.loc[[0,1]] #or df[0:1]

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95

In [48]:
print(df.to_string())

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [49]:
## display last 5 records
print(df.tail())

         Car   Model  Volume  Weight  CO2
31     Volvo    XC70    2000    1746  117
32      Ford   B-Max    1600    1235  104
33       BMW     216    1600    1390  108
34      Opel  Zafira    1600    1405  109
35  Mercedes     SLK    2500    1395  120

In [50]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB
None

In [52]:
new_df = df.dropna() # returns new dataframe will not change original (use inplace=True to modify)
print(new_df)

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [ ]:
df.fillna(130, inplace = True) # replaces null values with 130 ## fill missing values

In [67]:
df.fillna({"Car":"NA","Model1":1})## replace only specific column

x = df["Volume"].mean()
y = df["Volume"].median()
z = df["Volume"].mode()

print(x,y)

print(z)

df.fillna({"Volumne":x},inplace = True)

1611.111111111111 1600.0
0    1600
Name: Volume, dtype: int64

In [71]:
## suppose if we have different dates,  how to convert to date time.

data = {
    "date": [
        "2025-09-08",        # ISO format YYYY-MM-DD
        "09/08/2025",        # US format MM/DD/YYYY
        "08-09-2025",        # European format DD-MM-YYYY
        "September 8, 2025", # Full month name format
        "08-Sep-25",         # Abbreviated month with 2-digit year
        "2025/09/08 14:30",  # Date and time with 24h clock
        "09-08-25 2:30 PM",  # Date and time with 12h clock
        "Mon, 08 Sep 2025"   # Day, DD Mon YYYY
    ],
    "value": [10, 20, 30, 40, 50, 60, 70, 80]
}

df = pd.DataFrame(data)
print(df)

                date  value
0         2025-09-08     10
1         09/08/2025     20
2         08-09-2025     30
3  September 8, 2025     40
4          08-Sep-25     50
5   2025/09/08 14:30     60
6   09-08-25 2:30 PM     70
7   Mon, 08 Sep 2025     80

In [75]:
df['Date'] = pd.to_datetime(df['date'],format = 'mixed')
print(df.to_string())

                date  value                Date
0         2025-09-08     10 2025-09-08 00:00:00
1         09/08/2025     20 2025-09-08 00:00:00
2         08-09-2025     30 2025-08-09 00:00:00
3  September 8, 2025     40 2025-09-08 00:00:00
4          08-Sep-25     50 2025-09-08 00:00:00
5   2025/09/08 14:30     60 2025-09-08 14:30:00
6   09-08-25 2:30 PM     70 2025-09-08 14:30:00
7   Mon, 08 Sep 2025     80 2025-09-08 00:00:00

In [80]:
data = {
    "id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", None, "David", "Eva"],   # Missing name for id=3
    "age": [25, None, 35, 40, 28],                    # Missing age for id=2
    "city": ["New York", "Los Angeles", "Chicago", None, "Phoenix"]  # Missing city for id=4
}

df = pd.DataFrame(data)

df.dropna(subset = ['age'],inplace = True)
print(df)

   id   name   age      city
0   1  Alice  25.0  New York
2   3   None  35.0   Chicago
3   4  David  40.0      None
4   5    Eva  28.0   Phoenix

In [84]:
df.loc[3,"age"] = 1000
print(df)

   id   name     age      city
0   1  Alice    25.0  New York
2   3   None    35.0   Chicago
3   4  David  1000.0      None
4   5    Eva    28.0   Phoenix

In [85]:
for x in df.index:
  if df.loc[x,"age"] >100:
    df.loc[x,"age"] = 100



print(df)

   id   name    age      city
0   1  Alice   25.0  New York
2   3   None   35.0   Chicago
3   4  David  100.0      None
4   5    Eva   28.0   Phoenix
   id   name    age      city
0   1  Alice   25.0  New York
2   3   None   35.0   Chicago
3   4  David  100.0      None
4   5    Eva   28.0   Phoenix

In [87]:
data = {
    "id": [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva",
             "Alice", "Bob", "Charlie", "David", "Eva"],
    "age": [25, 30, 35, 40, 28,
            25, 30, 35, 40, 28],
    "city": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix",
             "New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
}

df = pd.DataFrame(data)

print(df)

   id     name  age         city
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago
3   4    David   40      Houston
4   5      Eva   28      Phoenix
5   1    Alice   25     New York
6   2      Bob   30  Los Angeles
7   3  Charlie   35      Chicago
8   4    David   40      Houston
9   5      Eva   28      Phoenix

In [95]:

df.loc[df.duplicated()]
df.drop_duplicates(inplace=True)

print(df)

   id     name  age         city
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago
3   4    David   40      Houston
4   5      Eva   28      Phoenix

In [99]:
# cheatsheet
#https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf